* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}


body {
    background-color: #380E73;
}


.hearder {
    padding: 20px;
    position: sticky;
    top: 0px;
    background-color: #F2AC29;
}

a {
    color: #380E73;
    font-size: 25px;
    font-weight: 540;
    text-decoration: none;
    margin-right: 30px;



}

a:hover {
    color: #8630BF;
}

.logo-header {
    width: 100px;
    display: inline-block;
    position: absolute;
    top: 2px;
    right: 25px;
}


h1 {
    font-size: 100px;
    color: #F2DB66;
    text-align: center;
    margin-bottom: 100px;
}

.titulo::after {
    content: "👑";

}

.sub-title {
    color: #F2DB66;
    font-size: 50px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 60px;

}

.content {
    font-size: 30px;
    line-height: 40px;
    margin-left: 90px;
    color: #ffffff;
}

p {
    width: 800px;
}


.img-celtics {
    width: 77px;
    transition: 1px;
}

.img-celtics:hover {
    transform: translateY(-5px);

}



footer {
    margin-top: 60px;
    background-color: #F2AC29;
    padding: 5px;
    text-align: center;
}



@media screen and (max-width: 800px) {



    .customlink {
        display: none;

    }


    .logo-header {
        width: 60px;
        display: inline-block;
        position: absolute;
        top: 2px;
        right: 25px;

    }


    .hearder {
        width: 100%;
        height: 50%;

    }


    .tudo {
        margin: 0px;
        padding: 0;
        width: auto;

    }

    h1 {
        font-size: 40px;

        text-align: center;
        margin-top: 40px;
        margin-bottom: 80px;
    }

    .sub-title {

        font-size: 31px;
        margin-left: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
        line-height: 60px;
        text-align: center;

    }

    .content {
        width: 100%;
        margin: 0;
        font-size: 20px;
        text-align: left;

    }






}