* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body {
    width: 100vw;
    height: 50vh;
    background-color: #1D428A;

}

header {
    background-color: #C8102E;
    padding: 20px 0 20px 20px;
}



a {
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 24px;
    font-weight: 540;
    text-decoration: none;
    margin-right: 30px;
}

a:hover {
    color: #1D428A;
}

.logo-header {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 70px;
}

main {
    margin-top: 150px;
}

img {
    width: 150px;

}

li {
    list-style-type: none;
}

.scroll {
    display: flex;
    align-items: center;
    background-color: #a40621;
    margin-bottom: 50px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.scroll::-webkit-scrollbar {
    width: 10px;
    height: 9px;
    border-radius: 10px;
}

.scroll::-webkit-scrollbar-track {
    background: #a40621;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #006bb7;
}

@media screen and (max-width: 800px) {

    body {
        width: 100vw;
        height: 50vh;

    }

    header {
        width: 100vw;
        height: 80px;
    }

    .links {
        display: none;
    }

    .logo-header {
        margin-top: 5px;
        margin-left: 5px;
    }

    main {
        margin-top: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .teams {
        width: 120px;
    }

    .scroll {
        width: 100%;
        display: flex;
        align-items: center;
        overflow-x: auto;
        scroll-snap-type: x mandatory;

    }





}