* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body {
    background-color: #1D428A;
    ;
}

header {
    background-color: #C8102E;
    padding: 20px;
}

.links {
    color: #ffffff;
    font-size: 24px;
    font-weight: 540;
    text-decoration: none;
    margin-right: 30px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #1D428A;
}

.nba-header {
    position: absolute;
    position: absolute;
    top: 0px;
    right: -6px;
    width: 70px;
}

.east {
    display: flex;
    justify-content: center;
    align-items: center;
}

.west {
    display: flex;
    justify-content: center;
    align-items: center;

}

button {
    margin-top: 100px;
    border-radius: 10px;
    width: 110px;
    border: none;
}